.contractPrize {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prizeImg {
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .prizeImg {
    width: 223px;
    height: 223px;
  }

  .prizeBg {
    width: 626px;
    height: 394px;
  }
}

@media screen and (max-width: 500px) {
  .prizeImg {
    width: 185px;
    height: 185px;
  }

  .prizeBg {
    width: 569px;
    height: 358px;
  }
}
