.bonusesPage {
  position: relative;
  width: 100%;

  h1 {
    margin-bottom: 74px;
    font-family: var(--font-exo2);
    font-size: 37px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
}

.wrapper {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 82px 20px 95px;
}

.howItWorks {
  margin-top: 85px;

  h2 {
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 28px;
    font-weight: 700;
    line-height: 19px;
  }
}

.howItWorksAccordionList {
  margin-top: 42px;
}

.needAuth {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
  padding: 44px 60px 53px 50px;
  border-radius: 20px;
  background: linear-gradient(0deg, #29265d 0%, #293d9f 100%);
  box-shadow: 0px 24px 31.6px -17px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  button {
    width: 199px;
    height: 53px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 900;
    flex-shrink: 0;
  }
}

.needAuthText {
  margin-left: 27px;

  p {
    font-family: var(--font-exo2);

    &:nth-of-type(1) {
      font-size: 22px;
      font-weight: 900;
      line-height: 29px;
      text-transform: uppercase;
    }

    &:nth-of-type(2) {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      color: #b0b3e2;
    }
  }
}

@media screen and (max-width: 1490px) {
  .wrapper {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .bonusesPage {
    h1 {
      margin-bottom: 45px;
      font-size: 30px;
    }
  }

  .wrapper {
    padding-top: 45px;
  }

  .needAuth {
    padding: 30px 20px 35px;
    margin-bottom: 30px;

    button {
      width: 220px;
      height: 55px;
    }

    & > img {
      width: 40px;
      height: 40px;
      align-self: flex-start;
    }
  }

  .needAuthText {
    margin-left: 25px;

    p {
      margin-top: 5px;

      &:nth-of-type(2) {
        max-width: 415px;
      }
    }
  }

  .howItWorks {
    h2 {
      font-size: 24px;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .needAuth {
    & > button {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .needAuth {
    padding: 20px 15px 15px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 35px 1fr;

    & > img {
      width: 35px;
      height: 35px;
    }

    button {
      margin-top: 25px;
      margin-left: 0;
      width: 100%;
      grid-column: span 2;
    }
  }

  .needAuthText {
    margin-left: 15px;

    p {
      &:nth-of-type(1) {
        margin-top: 0;
        font-size: 16px;
        font-weight: 700;
        line-height: 120%;
      }

      &:nth-of-type(2) {
        font-size: 12px;
        font-weight: 700;
        margin-top: 10px;
        line-height: 120%;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .howItWorksAccordionList {
    margin-top: 30px;
  }

  .howItWorks {
    margin-top: 40px;

    h2 {
      font-size: 20px;
    }
  }
}
