.itemsSearchField {
  border: none;
  background: #22296c;
  width: auto;

  input {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    padding: 14px 10px;

    &::placeholder {
      color: #787ca5;
    }
  }

  &:nth-of-type(1) {
    input {
      max-width: 102.25px;
    }
  }

  &:nth-of-type(2) {
    width: 195px;

    input {
      max-width: 195px;
    }
  }

  .endAdornment {
    padding-right: 10px;
  }
}
